$app-font: arial;
$app-font-size: 1em;

$app-color-white: #ffffff;
$app-color-black: rgb(73, 73, 73);
$app-color-blue: #0073ff;

$app-border: 1px solid #e7e7e7;
$app-border-radius: 3px;

$shadow: #e2e2e2;

$em-primary: 2.5em;

$transition-primary: 300ms;