$app-font: arial;
$app-font-size: 1em;

$app-color-black: rgb(49, 49, 49);
$app-color-blue: rgb(0, 115, 255);

$app-border: 1px solid rgb(230, 230, 230);
$app-border-radius: 3px;

$em-primary: 2.5em;

$transition-primary: 300ms;